node_modules
transpiler/parser/test/newTests.js
client/lib/**/*
client/app/components/repl/api.js

transpiler/lexer/singleTest.js
transpiler/lexer/tmpFunction.js
transpiler/lexer/tmpFunctionInvoke.js

.floo
.flooignore
.idea