node_modules
transpiler/parser/test/newTests.js
client/lib/**/*
client/app/components/repl/api.js
client/app/components/source/**/*

transpiler/lexer/singleTest.js
transpiler/lexer/helperFunctions.js
transpiler/lexer/singleTest2.js
transpiler/lexer/tmpFunction.js
transpiler/lexer/tmpFunctionInvoke.js
transpiler/dist/

clitest/

.floo
.flooignore
.idea
