h1, h2, h3, h4, h5, h6, span, .h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

p, a  {
  font-family: 'Roboto', sans-serif;
}

textarea {
  resize: none;
  background-color: #fff !important;
  box-shadow: none !important;
  border-color: #ccc !important;
}
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

#logo{
  max-height: 40px;
  margin-top: -10px;
  margin-right: -20px;
}

.logobig {
  padding: 14px 0;
}

.jumbo {
  padding: 10px;
}
