h1, h2, h3, h4, h5, h6, span, .h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

p, a  {
  font-family: 'Roboto', sans-serif;
}

select {
  box-shadow: none !important;
  border-color: #dce4ec !important;
}

textarea {
  resize: none;
  background-color: #fff !important;
  box-shadow: none !important;
  border-color: #dce4ec !important;
  font-family: monospace;
}


.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

#logo {
  max-height: 40px;
  margin-top: -10px;
  margin-right: -20px;
}

.example {
  margin: 20px 0 10px;
}