h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
  margin-top: 20px;
}

.jumbotron p {
  font-weight: 400
}

select {
  box-shadow: none !important;
  border-color: #dce4ec !important;
}

textarea {
  resize: none;
  background-color: #fff !important;
  box-shadow: none !important;
  border-color: #dce4ec !important;
  font-family: monospace;
}


.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

#logo {
  max-height: 40px;
  margin-top: -10px;
  margin-right: -20px;
}

.example {
  margin: 20px 0 10px;
}