<div class="container">
  <div class="jumbotron jumbo">
    <div class="row">
      <div class="col-md-4">
        <img class="img-responsive logobig" src="assets/logobig.png">
      </div>
      <div class="col-md-8">
        <h1>ShiftJS</h1>
        <p>ShiftJS is a Swift to JavaScript transpiler.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet venenatis enim at lacinia.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Try it out</a>
          <a class="btn btn-primary btn-lg" href="#" role="button">ShiftJS Annotated Source</a>
          <a class="btn btn-primary btn-lg" href="#" role="button">Github</a>
        </span>
      </div>
    </div>
  </div>
  <h2>Installation</h2>
  <pre>npm install shiftjs</pre>
  <h2>Getting Started</h2>
  <p>Compile a Swift file to JavaScript</p>
  <pre>npm install shiftjs</pre>
  <p>Tokenize a Swift file</p>
  <pre>npm install shiftjs</pre>
  <p>Parse an AST from a Swift file</p>
  <pre>npm install shiftjs</pre>
</div>
