<div class="container">
  <div class="jumbotron jumbo">
    <div class="row">
      <div class="col-md-2">
        <img class="img-responsive" src="assets/logo.png">
      </div>
      <div class="col-md-10">
        <h1>ShiftJS</h1>
        <p>ShiftJS is an open source Swift to JavaScript transpiler written in JavaScript.<br>The project is in active early development.</p>
          <a class="btn btn-primary btn-lg" href="#/repl" role="button">Try it out</a>
          <a class="btn btn-primary btn-lg" href="#/examples" role="button">Examples</a>
          <a class="btn btn-primary btn-lg" href="https://github.com/shift-js/shift-js" role="button">Github</a>
        </span>
      </div>
    </div>
  </div>
  <h2>Installation</h2>
  <pre>npm install shift.js</pre>
  <h2>Getting Started</h2>
  <p>Compile a Swift file to JavaScript</p>
  <pre>shift.js example.swift</pre>
  <p>Tokenize a Swift file</p>
  <pre>shift.js -t example.swift</pre>
  <p>Parse an AST from a Swift file</p>
  <pre>shift.js -a example.swift</pre>
</div>
