<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Basic Declarations and Assignment</h2>
      <p>
        Variables and constants will be converted to their JS equivalent.  Type
        annotations are ignored, and the let keyword is converted to var.  There
        is no support for the various number or character types in Swift.  Optionals
        are not supported.  Semi-colons will be inserted at the end of each line of JS,
        regardless of the Swift input.
      </p>
    </div>
    <div class="col-md-4">
      <pre class="example">
 var name: String = "Joe"
 let num: Int = 5;
 var anotherNum = 6
 var yetAnotherNum: Float = 4.2;
 let truth: Bool = false
 var emptyString: String
 var first, second, third: String


  </pre>
    </div>
    <div class="col-md-4">
      <pre class="example">
 var name = 'Joe';
 var num = 5;
 var anotherNum = 6;
 var yetAnotherNum = 4.2;
 var truth = false;
 var emptyString;
 var first, second, third;


  </pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Basic Operators</h2>
      <p>
        There is full support for mathematical and logical operators.  For math
        operations, parentheses will be included in the JS output only if they have
        significance for the order of operations.
      </p>
    </div>
    <div class="col-md-4">
      <pre class="example">
 var ans = (5 * 6) / 4 - (-1 + 4.2) % 2
 var m = ++ans;
 var n = m--;
 var n += ans
 var b = true && !false || true
  </pre>
    </div>
    <div class="col-md-4">
      <pre class="example">
 var ans = 5 * 6 / 4 - (-1 + 4.2) % 2;
 var m = ++ans;
 var n = --m;
 var n += ans
 var b = true && !false || true
  </pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Arrays and Dictionaries</h2>
      <p>
        Swift arrays are converted to JS arrays, while dictionaries are converted to object
        literals.  Values are accessed via subscript lookup. There is comprehensive support for
        nested collections.  ShiftJS does not yet support sets.
      </p>
    </div>
    <div class="col-md-4">
      <pre class="example">
 var e = ["Eggs", "Milk", "Bacon"];
 var f = e[0]
 var g = ["one": 1, "two": 2, "three": 3];
 var h = g["one"]
 let i = [
   "array1": [1,2,3],
   "array2": [4,5,6]]</pre>
    </div>
    <div class="col-md-4">
      <pre class="example">
 var e = ["Eggs", "Milk", "Bacon"];
 var f = e[0];
 var g = {'one': 1, 'two': 2, 'three': 3};
 var h = g['one']
 var i = {
   'array1': [1, 2, 3],
   'array2': [4, 5, 6]};</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Control Flow</h2>
      <p>
        ShiftJS offers broad support for if...else statements, for/for-in loops, and while/repeat-while
        loops with optional parentheses. ShiftJS does not fully support block scope or switch statements.
      </p>
    </div>
    <div class="col-md-4">
      <pre class="example">
 for var i = 1; i <= 100; i++ {
   if (i % 3 == 0) {
     if i % 5 == 0 {
       print("FizzBuzz")
     } else {
       print("Fizz")
     }
   } else if (i % 5) == 0 {
     print("Buzz")
   } else {
     print(i)
   }
 }
 var foods = ["ham", "cheese"];
 for food in foods {
   print("Eats \(food).");
 }
 var num = 0;
 while (num++ < 10) {
   if (num % 2 == 0) {
     print("even");
   } else {
     print("odd");
   }
 }
 repeat {
   print("Countdown: \(num)")
 } while --num > 0
 print("Blast off!")</pre>
    </div>
    <div class="col-md-4">
      <pre class="example">
 for (var i = 1; i <= 100; i++) {
   if (i % 3 == 0) {
     if (i % 5 == 0) {
       console.log('FizzBuzz');
     } else {
       console.log('Fizz');
     }
   } else if (i % 5 == 0) {
     console.log('Buzz');
   } else {
     console.log(i);
   }
 }
 var foods = ['ham', 'cheese'];
 for (var food in foods) {
   console.log('Eats ' + food + '.');
 }
 var num = 0;
 while (num++ < 10) {
   if (num % 2 == 0) {
     console.log('even');
   } else {
     console.log('odd');
   }
 }
 do {
   console.log('Countdown: ' + num + '');
 } while (--num > 0);
 console.log('Blast off!');</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Functions</h2>
      <p>
        The transpiler has very broad support for most function patterns, including
        functions that take a function as an argument or return a function, and
        functions with variadic parameters.
      </p>
    </div>
    <div class="col-md-4">
      <pre class="example">
 func greet(n:String,d:String)->String{
  var greet1 = "Hello \(n)."
  var greet2 = "Today is \(d)."
  return greet1 + "  " + greet2
 }
 greet("Bob", d: "Thursday")

 func newIncrement() -> ((Int)-> Int) {
  func addOne(number: Int) -> Int {
    func anon(n: Int) -> Int {
      return 1 + n
    }
    return anon(number)
  }
  return addOne
 }</pre>
    </div>
    <div class="col-md-4">
      <pre class="example">
 function greet(n, d) {
   var greet1 = 'Hello ' + n + '.';
   var greet2 = 'Today is ' + d + '.';
   return greet1 + '  ' + greet2;
 }
 greet('Bob', 'Thursday');
 function newIncrement() {
   function addOne(number) {
     function anon(n) {
       return 1 + n;
     }
     return anon(number);
   }
   return addOne;
 }</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>String Interpolation and Concatenation</h2>
      <p>There is full support for string concatenation and interpolation.</p>
    </div>
    <div class="col-md-4">
      <pre class="example">
 var name = "Sam";
 var n = "Hi my name is " + name + ".";
 var planet = "Earth";
 let o = "Hello \(planet)!";
 var p = "\(100 - 99), 2, 3"</pre>
    </div>
    <div class="col-md-4">
      <pre class="example">
 var name = "Sam";
 var n = "Hi my name is " + name + ".";
 var planet = 'Earth';
 var o = 'Hello ' + planet + '!';
 var p = '' + 100 - 99 + ', 2, 3';</pre>
    </div>
  </div>
</div>
