<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Explicit Typing</h2>
      <p>Lorem ipsum dolor sit amet, ut vis fastidii molestie posidonium, viderer complectitur ex sea, nec te minim invenire. Verear contentiones definitiones est ad, vide officiis est no. Quas epicurei electram no qui, vix exerci persius complectitur no. Ne doctus ullamcorper usu, no eos habeo admodum dissentiunt. Ius dolores partiendo et, ex habeo quaestio corrumpit pro.</p>
    </div>
    <div class="col-md-4">
      <pre class="example">
  // Comment
  var implicitVar = "Hello!"

  // Comment
  var explicitInt: Int = 42
  var explicitFloat: Float = 3.14
  var explicitDouble: Double = 24
  let explicitString: String = "apples"
  let explicitBool: Bool = true</pre>
    </div>
    <div class="col-md-4">
      <pre class="example">
  // Comment
  var implicitVar = "Hello!";

  // Comment
  var explicitInt = 42;
  var explicitFloat = 3.14;
  var explicitDouble = 24;
  var explicitString = 'apples';
  var explicitBool = true;</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>String Interpolation</h2>
      <p>Lorem ipsum dolor sit amet, ut vis fastidii molestie posidonium, viderer complectitur ex sea, nec te minim invenire. Verear contentiones definitiones est ad, vide officiis est no. Quas epicurei electram no qui, vix exerci persius complectitur no. Ne doctus ullamcorper usu, no eos habeo admodum dissentiunt. Ius dolores partiendo et, ex habeo quaestio corrumpit pro.</p>
    </div>
    <div class="col-md-4">
      <pre class="example">
  // Comment
  var place = "World"
  let greeting = "Hello \(place)"

  // Comment
  var place = "World"
  let greeting = "Hello \(place)"

  // Comment
  var place = "World"
  let greeting = "Hello \(place)"</pre>
    </div>
    <div class="col-md-4">
      <pre class="example">
  // Comment
  var place = 'World';
  var greeting = 'Hello ' + place + '';

  // Comment
  var place = 'World';
  var greeting = 'Hello ' + place + '';

  // Comment
  var place = 'World';
  var greeting = 'Hello ' + place + '';</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Dictionaries</h2>
      <p>Lorem ipsum dolor sit amet, ut vis fastidii molestie posidonium, viderer complectitur ex sea, nec te minim invenire. Verear contentiones definitiones est ad, vide officiis est no. Quas epicurei electram no qui, vix exerci persius complectitur no.</p>
    </div>
    <div class="col-md-4">
      <pre class="example">
  // Comment
  var food = [
    food1: "eggs",
    food2: "bacon",
    food3: "sausage",
    food4: "waffles"
  ];</pre>
    </div>
    <div class="col-md-4">
      <pre class="example">
  // Comment
  var food = {
    food1: "eggs",
    food2: "bacon",
    food3: "sausage",
    food4: "waffles"
  };</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Functions</h2>
      <p>Lorem ipsum dolor sit amet, ut vis fastidii molestie posidonium, viderer complectitur ex sea, nec te minim invenire. Verear contentiones definitiones est ad, vide officiis est no. Quas epicurei electram no qui, vix exerci persius complectitur no.</p>
    </div>
    <div class="col-md-4">
      <pre class="example">
  // Comment
  func sayHello() -> String {
     print("hello, world")
  }

  // Comment
  func sayHello() -> String {
     print("hello, world")
  }</pre>
    </div>
    <div class="col-md-4">
      <pre class="example">
  // Comment
  function sayHello() {
    console.log('hello, world');
  }

  // Comment
  function sayHello() {
    console.log('hello, world');
  }</pre>
    </div>
  </div>
</div>
